The case study sugegsts that currently it is 31 october 2014. We have 10 years to accumulate wealth given to us by client initially. Then the client starts consuming every year for 20 years. EG is 20.

This notebook finds the EG cashflows and applied inflation to these goals to make the problem more realistic

let's plot our essential goal at first

In [12]:
T_accumulation = 10
T_decumulation = 20
payments_EG = np.array([0]*T_accumulation+[-20000]*T_decumulation)
full_year_dates = np.arange(1,T_accumulation+T_decumulation+1,1)
eg = pd.DataFrame(payments_EG, columns = ['essential goal initially'], index = full_year_dates)
eg

    essential goal initially
1                          0
2                          0
3                          0
4                          0
5                          0
6                          0
7                          0
8                          0
9                          0
10                         0
11                    -20000
12                    -20000
13                    -20000
14                    -20000
15                    -20000
16                    -20000
17                    -20000
18                    -20000
19                    -20000
20                    -20000
21                    -20000
22                    -20000
23                    -20000
24                    -20000
25                    -20000
26                    -20000
27                    -20000
28                    -20000
29                    -20000
30                    -20000

Now let's show how much one would need given inflation

In [15]:
inflation = 0.02
eg['accumulated_inflation'] = (inflation+1)**full_year_dates
eg['inflation_adjusted_eg'] =  eg['accumulated_inflation'] * eg['essential goal initially']
eg

    essential goal initially  accumulated_inflation  inflation_adjusted_eg
1                          0               1.020000               0.000000
2                          0               1.040400               0.000000
3                          0               1.061208               0.000000
4                          0               1.082432               0.000000
5                          0               1.104081               0.000000
6                          0               1.126162               0.000000
7                          0               1.148686               0.000000
8                          0               1.171659               0.000000
9                          0               1.195093               0.000000
10                         0               1.218994               0.000000
11                    -20000               1.243374          -24867.486168
12                    -20000               1.268242          -25364.835891
13                    -20000               1.293607          -25872.132609
14                    -20000               1.319479          -26389.575261
15                    -20000               1.345868          -26917.366766
16                    -20000               1.372786          -27455.714102
17                    -20000               1.400241          -28004.828384
18                    -20000               1.428246          -28564.924952
19                    -20000               1.456811          -29136.223451
20                    -20000               1.485947          -29718.947920
21                    -20000               1.515666          -30313.326878
22                    -20000               1.545980          -30919.593416
23                    -20000               1.576899          -31537.985284
24                    -20000               1.608437          -32168.744990
25                    -20000               1.640606          -32812.119889
26                    -20000               1.673418          -33468.362287
27                    -20000               1.706886          -34137.729533
28                    -20000               1.741024          -34820.484123
29                    -20000               1.775845          -35516.893806
30                    -20000               1.811362          -36227.231682

hence, assuming 0 interest rates the essential goal is met at inception if we have on 31 october 2014:

In [18]:
eg.inflation_adjusted_eg.sum()*-1

604214.5073907687

Let's make a function that generates series of equal payments adjusted by inflation

In [22]:
def generate_equal_consumption_streams(
    accumulation_period_length=10,    # Number of years (periods) you are saving money
    cash_flows_accumulation=0,       # Annual cash flow during accumulation (e.g., how much is contributed/saved)
    decumulation_period_lenth=20,    # Number of years (periods) you are withdrawing money
    cash_flows_decumulation=-20000,  # Annual cash flow during decumulation (e.g., how much is withdrawn per year)
    inflation_rate=0.02              # Annual inflation rate (2% by default)
    ):
    """
    Generates a DataFrame of cash flows across accumulation and decumulation periods,
    including inflation adjustments.

    Returns:
        pandas.DataFrame with columns:
            - 'pure_CFs': The nominal cash flows (without considering inflation)
            - 'accumulated_inflation': The inflation growth factor over each period
            - 'inflation_adjusted_CFs': The real value of the cash flow in today's dollars
    """

    # Create a single array of cash flows:
    #   - 'accumulation_period_length' times 'cash_flows_accumulation' for the saving phase
    #   - 'decumulation_period_lenth' times 'cash_flows_decumulation' for the withdrawal phase
    cash_flows = np.array(
        [cash_flows_accumulation] * accumulation_period_length +
        [cash_flows_decumulation] * decumulation_period_lenth
    )

    # Create a time index (1 to total number of periods)
    dates = np.arange(1, accumulation_period_length + decumulation_period_lenth + 1, 1)
    
    # Build a DataFrame with a column 'pure_CFs' representing the nominal cash flows
    cash_flows_df = pd.DataFrame(cash_flows, columns=['pure_CFs'], index=dates)

    # For each period, calculate the accumulated inflation growth factor:
    # (1 + inflation_rate) ^ date_index
    cash_flows_df['accumulated_inflation'] = (inflation_rate + 1) ** dates

    # Multiply nominal cash flows by the inflation factor to get inflation-adjusted flows
    cash_flows_df['inflation_adjusted_CFs'] = (
        cash_flows_df['accumulated_inflation'] * cash_flows_df['pure_CFs']
    )

    return cash_flows_df

In [23]:
generate_equal_consumption_streams()

    pure_CFs  accumulated_inflation  inflation_adjusted_CFs
1          0               1.020000                0.000000
2          0               1.040400                0.000000
3          0               1.061208                0.000000
4          0               1.082432                0.000000
5          0               1.104081                0.000000
6          0               1.126162                0.000000
7          0               1.148686                0.000000
8          0               1.171659                0.000000
9          0               1.195093                0.000000
10         0               1.218994                0.000000
11    -20000               1.243374           -24867.486168
12    -20000               1.268242           -25364.835891
13    -20000               1.293607           -25872.132609
14    -20000               1.319479           -26389.575261
15    -20000               1.345868           -26917.366766
16    -20000               1.372786           -27455.714102
17    -20000               1.400241           -28004.828384
18    -20000               1.428246           -28564.924952
19    -20000               1.456811           -29136.223451
20    -20000               1.485947           -29718.947920
21    -20000               1.515666           -30313.326878
22    -20000               1.545980           -30919.593416
23    -20000               1.576899           -31537.985284
24    -20000               1.608437           -32168.744990
25    -20000               1.640606           -32812.119889
26    -20000               1.673418           -33468.362287
27    -20000               1.706886           -34137.729533
28    -20000               1.741024           -34820.484123
29    -20000               1.775845           -35516.893806
30    -20000               1.811362           -36227.231682